{{!-- 

Use files in views/partials/ for page components (buttons, forms, etc)
that can be reused in different pages 
      
INSERT TEMPLATE into page with the following syntax: 
        {{> partial_name }}
--}}

<div>
  <span>Partial content here</span>
</div>