{{!-- Landing page: For M0, this page will contain the links for our about pages --}}

<main>
  <h2> Meet Our Team </h2>

  <div class="grid-containerLeader">
    <div class="member1">
      <a href='/about/izaiah-rodriguez'>
        <img src="/image/mini-izaiahrodriguez.jpg" style="width:200px;height:200px;" class="about-pic">
        <br> <b>Raul-Izaiah Rodriguez</b> <br> Team Leader <br><br><br>
      </a>
    </div>
    </div>
  <div class="grid-container">
    <div class="member2">
      <a href='/about/vy-ngo'>
        <img src="/image/vyngo.jpg" style="width:200px;height:200px;" class="about-pic">
        <br> <b>Vy Ngo</b> <br> Front-end <br><br><br>
      </a>
    </div>

    <div class="member3">
      <a href='/about/nael-yun'>
        <img src="/image/mini-naelyun.jpg" class="about-pic">
        <br> <b>Nael Yun</b> <br> Front-end <br><br><br>
      </a>
    </div>

    <div class="member4">
      <a href='/about/kaung-htun'>
        <img src="/image/mini_kaung_htun.jpg" class="about-pic">
        <br> <b>Kaung Htun</b> <br> Back-end <br><br><br>
      </a>
    </div>

    <div class="member5">
      <a href='/about/jay-jaber'>
        <img src="/image/jayjaber.jpg" style="width:200px;height:200px;" class="about-pic">
        <br> <b>Jay Jaber</b> <br> Back-end/Deployment <br><br><br>
      </a>
    </div>

    <div class="member6">
      <a href='/about/tanishq-pradhan'>
        <img src="/image/mini-tanishqpradhan.jpg" style="width:200px;height:200px;" class="about-pic">
        <br> <b>Tanishq Pradhan</b> <br> Github <br><br><br>
      </a>
    </div>

    <div class="member7">
      <a href='/about/vandit-malik'>
        <img src="/image/vandit.png" style="width:200px;height:200px;" class="about-pic">
        <br> <b>Vandit Malik</b> <br> Database Manager <br><br><br>
      </a>
    </div>
  </div>
</main>

