{{!-- 

Files in the root of the views/ folder will be treated as pages. Make the
root element of the pages the "main" tag, for consistency and semantics 

 --}}

<main>
  <div>
    <p>variables passed in from server(res.locals): {{test}}</p>
    {{> placeholder }}
  </div>
</main>