<main>
  <div class="individual-container">
    <p>
      <img src="/image/izaiahrodriguez.jpg" style="width:400px;height:400px;" class="image1">
    </p>
    <p class="name"><b> Raul-Izaiah Rodriguez </b></p>
    <p class="position"><i> Team Leader </i></p>

    <p class="intro">
      Hello! My name is Izaiah, and I'm in my last year here at SFSU.
      I'm born and raised in the Bay Area, with my entire family based
      about 40 minutes away from San Francisco.
    </p>
    <p class="intro">
      Primarily, my focus is web development (trying to learn the full stack)
      after pivoting from game dev about a year ago. In my free time, I
      like to play video games, watch/analyze films, and relax with the
      family dogs. After graduation, I hope to find engineering work in the
      area, to stay near home and family!
    </p>

  </div>
</main>