<main>
  <div class="individual-container">
    <p>
      <img src="../image/jayjaber.jpg" style="width:400px;height:400px;" class="image1">
      <p class="name"><b> Jay Jaber </b></p>
      <p class="position"><i> Back-end/Deployment </i></p>
      <p class="intro">
        I am a senior at SF State and ready to become a software engineer after gradutating in the spring.
        I am intereseted in full stack development, embedded systems, and Internt of Things.
        My hobbies include playing basketball and driving and working on cars.
      </p>
    </p>
  </div>
</main>