<main>
  <div class="individual-container">
    <p>
      <img src="/image/kaung_htun.jpg" class="image1">
      <p class="name"><b> Kaung Htun </b></p>
      <p class="position"><i> Back-end </i></p>
      <p class="intro">
          Hello everyone,
          My name is Kaung Htun but you can call me Kason.
          I am a computer science student who is interested and enthusiastic in programming, software developing and machine learning.
          <br>
          I am currently taking a role as backend in this project. I love to play games in my free time. I also love to build computers and watch the tech videos on Youtube.
      </p>
    </p>
  </div>
</main>