<main>
  <div class="individual-container">
    <p>
      <img src="/image/naelyun.jpg" style="width:300px;height:400px;" class="image1">
      <p class="name"><b> Nael Yun </b></p>
      <p class="position"><i> Front-end </i></p>
      <p class="intro">
        Hello, my name is Nael Adam Yun Lihtdean but I prefer to be called Nael or Adam.
        I'm a student who is currently studying in San Francisco State University and majoring in Computer Science.
		    I'm passionate about programming and my strengths are in C++ and Java.
        <br> <br>
		    On my free time I like to learn how to program games or play them, I also love to explore around 
		    the city of San Francisco since it's so beautiful and extraordinary. I hope to learn more about
		    programming and one day work for a prestigous company such as Google, Facebook or Youtube.
      </p>
    </p>
  </div>
</main>