<main>
  <div class="individual-container">
    <p>
      <img src="/image/tanishqpradhan.jpg" style="width:300px;height:400px;" class="image1">
    </p>
      <p class="name"><b> Tanishq Pradhan </b></p>
      <p class="position"><i> GitHub </i></p>
      <p class="intro">
        Hey! My name is Tanishq Pradhan, I'm an international student from India.
        I'm a first semester graduate student and have completed my Bachelor's in Computer Engineering from Pune University.
      </p>
      <p class="intro">
        I'm the Github master for Team 06. I have experience in Python, Java, C++ and MySQL.
        After I graduate, I wish to work as a Full Stack Developer or a Data Scientist.
        In my spare time, I like to relax to some music, play video games and watch sci-fi movies.
      </p>
  </div>
</main>