<main>
  <div class="individual-container">
    <p>
      <img src="/image/vandit.png" class="image1">
      <p class="name"><b> Vandit Malik </b></p>
      <p class="position"><i> Database Manager </i></p>
      <p class="intro">
      Experienced Founder with a demonstrated history of working in the information technology and services industry. Skilled in Public Speaking, Film Production, Java, C (Programming Language), and Time Management. Strong business development professional with a Bachelor's degree focused in Computer Science from San Francisco State University.
      </p>
    </p>
  </div>
</main>
