<main>
  <div class="individual-container">
    <p>
      <img src="/image/vyngo.jpg" style="width:400px;height:400px;" class="image1">
      <p class="name"><b> Vy Ngo </b></p>
      <p class="position"><i> Front-end </i></p>
      <p class="intro">
        Hello there! I am Vy and I am currently in my last year at SFSU.
        I am originally from Vietnam, where is famous for the pho, and moved to the US with my family a few years ago.
        After learning some web languages, I decided to major in Computer Science because I like visual design and making websites looks nice with coding.
        Getting a job as a front-end developer is my dream and I hope I could achieve in my future.
        <br><br>
        Since I am not an outdoor person, I like to spend my free time teaching my two cats new tricks, playing video games, and making digital arts at home.
      </p>
    </p>
  </div>
</main>