
.roommate-container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 50%;
    min-height: 50%;
}

.roommate-content {
    height: auto;
    padding: 2%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #aaaaaa;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
}

.roommate-image {
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.roommate-name {
    font-family: "Italiana", serif;
    font-weight: bolder;
    font-size: 40px;
}

.roommate-title {
    font-family: "Italiana", serif;
    font-weight: normal;
    font-size: 25px;
    border-width: 1px;
    border-bottom: solid;
}

.roommate-text {
    font-family: "Poiret One", cursive;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
}

#contact-roommate-button {
    width: 200px;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    border-left: none;
    border: 0;
    cursor: pointer;
    background-color: #E6E1D9;
    font-family: "Poiret One", cursive;
    font-size: 20px;
}

#contact-roommate-button:hover {
    transition: 0.5s;
    background-color: #ccc6be;
}

.contact-roommate-button {
    margin: 0 auto;
    text-align: center;
}

.view-roommate-table{
    font-size: auto;
}

@media only screen and (max-width: 1400px) {
    .roommate-image {
        width: 500px;
        height: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .roommate-image {
        width: 400px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .roommate-image {
        width: 300px;
        height: auto;
    }
}


@media only screen and (max-width: 500px) {
    .roommate-image {
        width: 300px;
        height: auto;
    }
    .view-roommate-table{
        font-size: medium;
    }
    .roommate-text{
        font-size: medium;
    }
}
@media only screen and (max-width: 400px) {
    .roommate-image {
        width: 200px;
        height: auto;
    }
    .view-roommate-table{
        font-size: small;
    }
    .roommate-text{
        font-size: small;
    }
}

@media only screen and (max-width: 300px) {
    .roommate-image {
        width: 150px;
        height: auto;
    }
    .view-roommate-table{
        font-size: small;
    }
    .roommate-text{
        font-size: small;
    }
}